.DS_Store
**/build/
**/dist/
**/nbproject/private/
**/nbproject/Makefile-*.*
**/nbproject/*.bash
*.zip
*.run
Library/
Test/
/Example/D10OnOffS3.X/dist/
/Example/D10OnOffS3.X/build/
/Demo App/MPLAB.X/build/
/Demo App/MPLAB.X/dist/
/TCPIP_-_Demo_App/Projects2/TCPIP/Demo App/MPLAB.X/build/
/TCPIP_-_Demo_App/Projects2/TCPIP/Demo App/MPLAB.X/dist/
/TCPIP_-_Demo_App/Projects2/TCPIP/Demo App/Demo_App.X/build/
/TCPIP_-_Demo_App/Projects2/TCPIP/Demo App/Demo_App.X/dist/
/MainProject/TCPIP/Demo App/Demo_App.X/build/
/MainProject/TCPIP/Demo App/Demo_App.X/dist/